@charset "utf-8";

header {
  background-color: rgb(85, 85, 85);
  height: 5em;
}

#header-logo {
  float: left;
  font-size: 1.3rem;
  margin: 1em 4em;
}

#header-list {
  margin-right: 4em;
  display: flex;
  justify-content: flex-end;
}

#header-list li {
  list-style: none;
  margin: 1.6em;
}

#header-list li a {
  color: black;
}

main {
  background-color: rgb(200, 200, 200);
  font-family: serif;
}

#home {
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes homeImageAnimation {
  0% {
    opacity: 0;
  }
}

#home-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: homeImageAnimation 3s;
}

@keyframes homeTextAnimation {
  0% {
    opacity: 0;
    letter-spacing: 0.3em;
  }
}

#home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2.5rem;
  color: black;
  animation: homeTextAnimation 4s;
}

.section-title {
  margin: 4em 2em 1.5em 2em;
  padding-left: 1em;
  font-size: 2rem;
  border-bottom: black solid 1px;
  opacity: 0;
  letter-spacing: 0.3em;
  transition: 2s;
}

.animation {
  letter-spacing: normal;
  opacity: 1;
}

#about-package {
  width: auto;
  height: 30em;
  position: relative;
}

.section-content {
  opacity: 0;
  transform: translateY(30px);
  transition: 2s 0.5s;
}

.show {
  opacity: 1;
  transform: none;
}

#text-back {
  background-color: #fff;
  width: 35%;
  height: 10em;
  border: black solid 1px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 10%;
  position: relative;
}

#about-text {
  font-family: "Gothic";
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#about-image {
  width: 25%;
  position: absolute;
  top: 5%;
  left: 60%;
  border-radius: 50%;
  opacity: 1;
}

#about-button {
  font-family: "Gothic";
  width: 30%;
  height: 15%;
  background-color: rgba(85, 85, 85, 0.3);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

#links-text {
  float: left;
  font-size: 1.2em;
  padding: 0 2em 3.5em 10em;
}

#icon-container {
  padding: 4em 10em;
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 4em;
  margin: 0 1.5em;
}

footer {
  background-color: rgb(85, 85, 85);
  height: 5em;
  display: flex;
  justify-content: center;
}

#copyright-text {
  align-self: center;
}
